.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
}
header {
    width: 100%;
    background-color: #1473E6;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header ul {
    display: flex;
    justify-content: space-between;
    width: 484px;
    color: white;
    font-size: 20px;
}
header ul li span {
    color: black;
}
header h1 {
    color: white;
    font-weight: bold;
    font-size: 45px;
}
input {
    border: none;
    background-color: #1473E6;
    border-bottom: 2px solid white;
}
#input-div {
    position: relative;
    margin-right: 103px;
    width: 311.5px;
}
#input-div input {
    width: 100%;
}
#input-div img {
    position: absolute;
    right: 2px;
    width: 16px;
    height: 16px;
}